@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url(images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
:root {
  --font: "Roboto", sans-serif;
  --black: #333;
  --coral: #ee5a30;
  --grey2: #dcdcdc;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}
.link-reset {
  cursor: pointer;
  font-family: var(--font);
  text-decoration: none;
  transition: 0.5s;
}

/*------ Home Page -------*/

.home-page {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding-bottom: 400px;
}
.content {
  padding-top: 150px;
  max-width: 1200px;
  margin: 0 auto;
}
.home-text {
  display: table;
  font-family: var(--font);
  color: var(--grey2);
  font-size: 70px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-form {
  margin-top: 40px;
  padding: 0 15px;
}
.form-content {
  margin: 0 auto;
  width: 570px;
  align-items: center;
  display: flex;
}
.home-input {
  font-family: var(--font);
  color: var(--grey2);
  max-width: 500px;
  font-size: 50px;
  font-family: var(--font);
  border-radius: 7px;
  padding-left: 15px;
  border: 4px solid var(--grey2);
}
.home-submit {
  min-width: 70px;
  height: 70px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(images/3844432-magnifier-search-zoom_110300.svg);
}
@media (max-width: 600px) {
  .home-text {
    font-size: 60px;
  }
  .home-input {
    max-width: 400px;
    font-size: 40px;
    border: 3px solid var(--grey2);
  }
  .home-submit {
    min-width: 60px;
    height: 60px;
  }
}
@media (max-width: 485px) {
  .home-text {
    font-size: 55px;
  }
  .home-input {
    max-width: 300px;
    font-size: 40px;
    border: 3px solid var(--grey2);
  }
}
@media (max-width: 485px) {
  .home-text {
    font-size: 55px;
  }
  .home-input {
    max-width: 200px;
    font-size: 40px;
    border: 3px solid var(--grey2);
  }
  .home-submit {
    min-width: 50px;
    height: 50px;
  }
}

/*--------Loader--------*/

.loader-image {
  position: relative;
  top: 50px;
  padding-top: 98px;
  display: block;
  margin: 0 auto;
}

/*----------------ResultPage--------*/

.res-page {
  width: 100%;
  padding-bottom: 100px;
}
.res-page div {
  font-family: var(--font);
  color: var(--grey2);
  font-size: 25px;
}
.btn-wrap {
  align-items: center;
  padding: 20px 15px 30px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.res-btn {
  border-radius: 10px;
  border: var(--grey2) solid 2px;
  color: var(--grey2);
  padding: 15px;
  font-family: var(--font);
  font-size: 20px;
}
.back-btn {
  visibility: hidden;
}
.res-btn:hover {
  background-color: var(--black);
  transition: 0.7s;
}
.res-title {
  display: table;
  text-transform: uppercase;
  font-size: 28px;
  margin: 0 auto;
}
.result-items {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
}
.result-main {
  margin: 0 auto;
}
.main-res-item {
  display: block;
  background-color: var(--black);
  border-radius: 10px;
  border: var(--grey2) solid 2px;
  width: 565px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.res-text {
  padding-bottom: 10px;
  display: table;
  margin: 0 auto;
  font-family: var(--font);
  font-size: 25px;
}
.res-desc {
  display: table;
  margin: 0 auto;
}
.phoneticsList {
  display: flex;
  margin-left: 100px;
  align-items: center;
}
.phonetics-text {
  margin-right: 15px;
}
.meanings-border {
  border: 1px solid var(--grey2);
  margin: 15px 0;
}
.definitions-border {
  border: 1px solid var(--coral);
  margin: 7px 0;
}
@media (max-width: 630px) {
  .res-page div {
    font-size: 20px;
  }
  .res-text {
    font-size: 23px;
  }
  .main-res-item {
    width: 400px;
    padding: 10px 15px;
  }
  .phoneticsList {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .res-page div {
    font-size: 20px;
  }
  .res-text {
    font-size: 23px;
  }
  .main-res-item {
    width: 350px;
    padding: 10px 15px;
  }
  .phoneticsList {
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .res-page div {
    font-size: 19px;
  }
  .res-text {
    font-size: 22px;
  }
  .main-res-item {
    width: 250px;
    padding: 10px 15px;
  }
  .phoneticsList {
    margin-left: 0px;
  }
}

/*-------------Not Found--------------*/

.not-found {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px 0;
}
.not-found-text {
  display: table;
  color: var(--grey2);
  font-family: var(--font);
  margin: 0 auto;
  padding-left: 15px;
  font-size: 45px;
}
